#grpc4bmi
git+https://github.com/eWaterCycle/grpc4bmi@93-workdir-identity-mount#egg=grpc4bmi
git+https://github.com/eWaterCycle/parametersetdb#egg=ewatercylce.parametersetdb
jupyterlab
matplotlib
docker
requests
